@import url(../base.css);

.wrapper-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.wrapper-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 5rem;
}

.wrapper-flex .card {
  flex: 1 1 calc((100% / 5) - 1rem);
  min-width: 250px;
}

.card {
  display: grid;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-image {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  object-fit: cover;
  transition: filter 0.3s ease;
  cursor: pointer;
}

.card-image:hover {
  filter: brightness(0.9);
}

.card-title {
  font-size: var(--font-title-size);
  margin: 10px 0;
}

.card-text {
  font-size: var(--font-size);
}

.card-button {
  border: 0;
  border-radius: 8px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: var(--font-size);
  transition: background-color 0.3s ease;
}

.card-button:hover {
  background-color: #0056b3;
}