@property --font-family {
  syntax: '*';
  inherits: false;
  initial-value: Arial, sans-serif;
}
@property --line-height {
  syntax: '<number>';
  inherits: false;
  initial-value: 1.5;
}
@property --color-code {
  syntax: '<color>';
  inherits: false;
  initial-value: #e06c75;
}
@property --background-code {
  syntax: '<color>';
  inherits: false;
  initial-value: #1e1e1e;
}
@property --color-background {
  syntax: '<color>';
  inherits: false;
  initial-value: #f9f9f9;
}
@property --arrow-width {
  syntax: '<length>';
  inherits: false;
  initial-value: 25px;
}
@property --arrow-height {
  syntax: '<length>';
  inherits: false;
  initial-value: 4px;
}

:root {
  --font-size: 1rem;
  --font-title-size: 1.25rem;

  --color-text: #333;
  --color-primary: #1e1e1e;
  --brand-color: #007bff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--color-text);
  background-color: var(--color-background);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.25rem;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.header a {
  color: var(--color-text);
  text-decoration: none;
  font-size: var(--font-size);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.arrow {
  position: relative;
  display: inline-block;
  width: var(--arrow-width);
  height: var(--arrow-height);
  margin: 29px 0;
  border-radius: 9999px;
  background-color: #000000;
}

.arrow::before,
.arrow::after {
  content: '';
  position: absolute;
  top: calc(50% - 2px);
  left: 0;
  width: calc(var(--arrow-width) * 0.45);
  height: var(--arrow-height);
  border-radius: 9999px;
  background-color: #000000;
  transform-origin: 2px 50%;
}

.arrow::before {
  transform: rotate(45deg);
}

.arrow::after {
  transform: rotate(-45deg);
}

.header h1 {
  color: var(--color-text);
  font-size: 2rem;
  text-align: center;
  flex: 1;
}

.title {
  font-weight: bold;
  margin-bottom: 2rem;

  &[data-text]::before {
    content: attr(data-text);
    margin: 0 -5px;
    font-size: 1.5em;
  }

  & summary {
    font-size: smaller;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

/* .title[data-text]::before {
  content: attr(data-text);
  margin: 0 -5px;
  font-size: 1.5em;
} */

/* .title summary {
  font-size: smaller;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */

textarea {
  width: 100%;
  height: auto;
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--color-code);
  background-color: var(--background-code);
  border-radius: 8px;
  box-sizing: border-box;
  border: none;
  resize: none;
  outline: none;
  padding: 1rem 0;
  overflow-y: hidden;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.content {
  margin-bottom: 5rem;
}

.content.column {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.content.row {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

.hidden {
  display: none;
}
