@import url(../base.css);

.card-bg {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: Arial, sans-serif;
  background: rgb(243, 233, 220);
  width: max-content;
}

.zoom-in {
  zoom: 2;
}

.card-container {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
  flex-direction: column;
}

.card {
  position: relative;
  height: 200px;
  width: 150px;
  background: rgba(0, 0, 0, 0.45);
  clip-path: path(
    'M 10,20 L 60,20 A 10,10 0,0,0 70,10 L 70,10 A 10,10 0,0,1 80,0 L 140,0 A 10,10 0,0,1 150,10 L 150,190 A 10,10 0,0,1 140,200 L 10,200 A 10,10 0,0,1 0,190 L 0,30 A 10,10 0,0,1 10,20 Z'
  );
  overflow: hidden;
}

.card img {
  height: 165px;
  width: 150px;
  object-fit: cover;
  padding: 10px;
}

.card-title {
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 67px;
  background: #5e3023;
  clip-path: inset(0.5px round 8px 0);
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
}

.product-card {
  width: 150px;
  background: #5e3023;
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.product-card-title {
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 2px;
}

.price {
  font-size: 8px;
  opacity: 0.8;
}

.actions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 8px;
}

.buy-now {
  background: transparent;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 3px 8px;
  border-radius: 30px;
  font-size: 7px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.card-icon {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  padding: 2px;
  font-size: 8px;
}

.options {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: rgba(255, 255, 255, 0.1);
  padding: 5px 7px;
  border-radius: 20px;
}

.color {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin: 0 1px;
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.color.red {
  background: #e75a7c;
}

.color.blue {
  background: #4ecdc4;
}

.color.white {
  background: #fffffc;
}

.color.black {
  background: #2c363f;
}
